.login {
  margin-top: 70px;
  width: 100%;
}
.login > form {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.login > form > button {
  margin-top: 20px;
}

@media (max-width: 1150px) {
  .login > form {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .login > form {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .login > form {
    width: 100%;
  }
}
