.register {
  margin-top: 70px;
  width: 100%;
}
.register > form {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.register > form > button {
  margin-top: 20px;
}

@media (max-width: 1150px) {
  .register > form {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .register > form {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .register > form {
    width: 100%;
  }
}
