/* .main_wrapper {
  padding-top: 70px;
} */
.name {
  margin-top: 110px;
  font-family: sans-serif;
  font-size: 130px;
  font-weight: 800;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-image: url("../../assets/2.gif");
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  line-height: 110px;
}

.name ~ p {
  font-family: sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 0 0 30px rgba(98, 49, 102, 0.7), 0 0 40px rgba(112, 34, 161, 0.7),
    0 0 50px rgba(112, 34, 161, 0.7);
  /* color: #4f1d6e; */
  color: aliceblue;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px rgba(218, 204, 212, 0.726);
}

@keyframes neonWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
