.layout {
  margin: auto;
  width: 80%;
  text-align: center;
  vertical-align: middle;
}
.header_wrapper {
  width: 100%;
  height: 60px;
  box-shadow: 0px 0px 10px 7px rgb(213, 194, 223);
  display: flex;
}
