.service_wrapper {
  width: 100%;
}
.service {
  box-shadow: 0px 10px 10px 7px rgb(213, 194, 223);
  box-sizing: border-box;
  margin-top: 40px;
  border-radius: 20px 20px 0 0;
  padding: 30px 50px 0 50px;
  min-height: calc(100vh - 100px);
}
.info {
  display: flex;
  column-gap: 60px;
}
.info > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}
.slider {
  width: 450px;
}
.name {
  font-family: monospace;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(58, 49, 58);
}
.author {
  margin-top: 5px;
  font-family: monospace;
  font-size: 22px;
  font-weight: 500;
  color: rgb(136, 135, 136);
  margin-bottom: 0;
}
.cost {
  font-size: 22px;
  font-weight: 500;
  font-family: monospace;
  color: rgb(88, 85, 88);
}
.cost > span {
  color: rgb(0, 0, 0);
}
.schedule {
  font-size: 18px;
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 50px;
  row-gap: 8px;
  color: rgb(82, 78, 82);
}
.description {
  display: block;
  text-align: justify;
  margin-top: 35px;
  font-size: 18px;
  color: rgb(105, 95, 105);
  line-height: 140%;
}
@media (max-width: 1200px) {
  .name,
  .author {
    word-break: break-all;
  }
  .info > div:nth-child(2) {
    padding-bottom: 0px;
  }
}
@media (max-width: 1130px) {
  .info {
    column-gap: 30px;
  }
}
@media (max-width: 1060px) {
  .name,
  .author {
    word-break: normal;
  }
  .info {
    flex-direction: column-reverse;
  }
  .info > div:nth-child(2) {
    row-gap: 25px;
  }
  .slider {
    margin-top: 30px;
    margin-inline: auto;
  }
}
@media (max-width: 700px) {
  .slider {
    width: 100%;
  }
}
