.form > input {
  display: block;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.service_wrapper {
  border-block: 1px solid rgb(152, 92, 173);
  padding-block: 10px;
  box-shadow: 0 -4px 4px -4px rgba(157, 95, 162, 0.7),
    0 4px 4px -4px rgba(157, 95, 162, 0.7);
}
.errors {
  color: brown;
  font-size: 12px;
  margin-top: -15px;
}
.error_select > div {
  border: 1px solid brown !important;
  box-shadow: 0 0px 1px 1px brown;
  border-radius: 7px;
}
.error_select {
  color: brown;
}
.days {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.days > div {
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.day > *:first-child {
  min-width: 100px;
}
.cost {
  margin-left: 20px;
}
